.Rproj.user
.Rhistory
.RData
.Ruserdata
Data_organization.Rpres
Data_organization.html
Data_organization.md
Figure2.PNG
Figure1.PNG
Figure3.PNG
Figure4.PNG
Figure5.PNG
Figure6.PNG
Figure7.PNG
Figure8.PNG
data_carpentry_logo.png
nwu_logo.jpg
spreadsheet-organization.Rproj
spreadsheets
